<div class="about">
<%= flash[:notice] %>
  <div class="container" >
    <div class="row">
      <h1 class="px-3 mx-auto">
       <strong>ベースボールgoodsとは</strong>
     </h1>
    </div>
  </div>

<footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<h4>本サイトにある野球商品は全国各地にあります</h4>
    		<h4>すぐに購入するも良し、少し不安だという方は</h4>
    		<h4>予約機能を使い、お近くの店舗にて実物を見て</h4>
    		<h4>から、購入を検討する事ができるサイトです！</h4>
    		<h4>人それぞれが、納得のいく形で相棒を選べます</h4>
    	</div>
    </div>
  </div>
</footer>
</div>