<div class="top">
  <%= flash[:notice] %>
  <div class="container" >
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        　<h2>　<strong>ベースボール goodsへようこそ</strong>　</h2>
      </div>
    </div>
  </div>
  
  <footer>
    <div class="container mt-5">
    	<div class="row">
      	<div class="mx-auto">
      		<h4>ネットの普及に伴い、買い物は画面を見てする時代に。</h4>
      	  <h4>しかし、画面と実物では思った見た目と違っていたり</h4>
      		<h4>「サイズが合わなかった・・・」というような経験談</h4>
      		<h4>をよく耳にし、そういった方々を無くしていきたい。</h4>
      		<h4>その思いから始まり、このサイトが生み出されました。</h4>
      		<h4>野球を愛する全ての野球人の側に、理想の相棒を。</h4>
      	</div>
      </div>
    </div>
  </footer>
</div>
