/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
   padding-top: 100px;
   padding-bottom: 100px;
 }
 
 .header {
   height: 100px;
 }
 
 .footer {
   height: 100px;
 }
 
.top {
  background-image: image-url('24507828_s.jpg');
  height: calc(100vh - 200px);
  background-size:cover;
}
.about {
  background-image: image-url('3435310_s.jpg');
  height: calc(100vh - 200px);
  background-size:cover;
}
.set_center_outer {
  text-align: center;
}

.set_center_inner {
  display: inline-block;
  text-align: left;
}

.one-post {
  margin: 5px 30px;
}

.one-post img:hover {
  transform: scale(1.2,1.2);
}

.caption {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
